aiohttp==3.9.1
aiosignal==1.3.1
attrs==23.2.0
certifi==2023.11.17
charset-normalizer==3.3.2
filelock==3.13.1
frozenlist==1.4.1
graphql-core==3.2.3
idna==3.6
loguru==0.7.2
multidict==6.0.4
numpy==1.26.3
pandas==2.1.4
psutil==5.9.7
PyJWT==2.8.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
scipy==1.11.4
sgqlc==16.3
shinny-structlog==0.0.4
simplejson==3.19.2
six==1.16.0
tqsdk==3.4.11
tqsdk-ctpse==1.0.2
tqsdk-sm==1.0.5
tzdata==2023.4
urllib3==2.1.0
websockets==12.0
yarl==1.9.4
